extends ./layout/body

block content
  include ../layout/pagination

  - var ls = [records.length]
  - var index = 0
    while index < records.length
      - var record = records[index]
      - var j = '';
      each location in record.locations
        - j += (j != '' ? ',' : '') + '{lat:' + location[0] + ', lng:' + location[1] + '}'
      - ls[index] = j
      - index++
  
  div#RecordRow(class='row')
    - var timeIndex = 0;
    each record in records
      div(class='col-lg-6 col-md-6 portfolio-item')
        div(class='card h-100')
          
          //- Header
          div(class='card-header')
            span #{record.name}
            button(type='button' class='close' aria-label='Close' data-toggle='modal' data-target='#ModalCenter' data-id=record.recordId data-title=record.name)
              span(aria-hidden='true') &times;
          
          //- Body: Map
          div(class='card-body record-card')
            div#map(class='mapView card-img-top')

            //- Body: Detail Value
            div(class='row records-detail-row')
              div(class='col-lg-8')
                div(class='card h-100 card-no-border')
                  div(class='card-body')
                    ul(class='card-text')
                      li 
                        img(class='records-icon' src='/images/records/location.png') 
                        span(class='records-value') #{record.locality}
                      li 
                        img(class='records-icon' src='/images/records/time.png') 
                        span(class='records-value') #{times[timeIndex].dateStr} #{times[timeIndex].startTimeStr} ~ #{times[timeIndex].endTimeStr}
                      li 
                        img(class='records-icon' src='/images/home/distance.png') 
                        span(class='records-value') #{record.distance.toFixed(1)} 公里
                      li 
                        img(class='records-icon' src='/images/home/step.png') 
                        span(class='records-value') #{record.step} 步
                      li 
                        img(class='records-icon' src='/images/home/calories.png') 
                        span(class='records-value') 1,400 卡

              //- Body: Options
              div(class='col-lg-4')
                div(class='card h-100  card-no-border')
                  div(class='card-body text-center')
                    div(class='btn-group-vertical' role='group' aria-label='Basic example')
                      button(type='button' class='btn btn-success btn-sm') 發送至Line
      - timeIndex++
    
    //- Delete div
    div#ModalCenter(class='modal fade' tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
      div(class='modal-dialog modal-dialog-centered' role='document')
        div(class='modal-content')
          div(class='modal-header')
            h5#ModalTitle(class='modal-title') 提示訊息
            button(type='button' class='close' data-dismiss='modal' aria-label='Close')
              span(aria-hidden='true') &times;
          
          div(class='modal-body')

          div(class='modal-footer')
            button(type='button' class='btn btn-secondary' data-dismiss='modal') 取消
            button(type='button' class='btn btn-danger') 刪除
            
  include ../layout/pagination

  script.
    $('#ModalCenter').on('show.bs.modal', function(e) {
      var button = $(e.relatedTarget);
      var recordId = button.data('id');
      var recordName = button.data('title');
      var content = '確定是否刪除「' + recordName + '」這部影片?';
      var modal = $(this);
      modal.find('.modal-body').text(content);
      modal.find('.modal-footer').find('.btn-danger').on('click', function(e) {
        $('#ModalCenter').modal('hide');
        window.location.href = '/records/del/' + recordId + '/' + '#{pageIndex}';
      });
    });

  script.
    var coordinates = [];

  - var nls = 0
    while nls < ls.length
      - var val = ls[nls];
      script.
        coordinates[#{nls}] = [#{val}];
      - nls++
        
  script.
    function initMap() {
      var recordCount = 0;
      $('.mapView').queue(function( next ) {
        var coordinate = coordinates[recordCount];
        var flightPath = new google.maps.Polyline({
          path: coordinate,
          geodesic: true,
          strokeColor: '#5FB404',
          strokeOpacity: 1.0,
          strokeWeight: 7
        });

        console.log('div ' + this.id);
        var map = new google.maps.Map(this, {
          mapTypeId: 'terrain',
          disableDefaultUI: true,
        });

        var bounds = new google.maps.LatLngBounds();
        for (var i = 0 ; i < coordinate.length ; i++) {
          var path = coordinate[i];
          bounds.extend(path);
        }
        map.fitBounds(bounds);
        flightPath.setMap(map);

        var sMark = new google.maps.Marker({
          position: coordinate[0],
          map: map,
        });
        new google.maps.InfoWindow({
          content: '開始'
        }).open(map, sMark);

        var eMark = new google.maps.Marker({
          position: coordinate[coordinate.length - 1],
          map: map,
        });
        new google.maps.InfoWindow({
          content: '結束'
        }).open(map, eMark);

        recordCount++;
        next();
      });
    }
  script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBywZw3mj57BST--BC9k2LxamMD0-Xz4-g&callback=initMap&region=zh-TW')

