extends ./layout/body

block content
  - var path = auth.path
  if preToken 
    - path += '/' + pageToken

  include ../layout/paginationSimple

  h5(class='my-4') 
    strong 影片：
    span #{items[playIndex].snippet.title}
  
  div#PlayRow(class='row')
    div(class='col-md-12 first-live')
      div(class='embed-responsive embed-responsive-16by9')
        div#player
        
        script.
          var tag = document.createElement('script');

          tag.src = "https://www.youtube.com/iframe_api";
          var firstScriptTag = document.getElementsByTagName('script')[0];
          firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

          var player;
          function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
              videoId: '#{items[playIndex].id}',
              events: {
                'onReady': onPlayerReady,
                'onStateChange': onPlayerStateChange
              }
            });
          }

          function onPlayerReady(event) {
            event.target.playVideo();
          }

          var done = false;
          function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
              setTimeout(stopVideo, 6000);
              done = true;
            }
          }

          function stopVideo() {
            player.stopVideo();
          }
          
  div#LiveRow(class='row')
    - var index = 0
    each item in items
      div(class='col-lg-4 col-md-6 portfolio-item')
        div(class='card')

          div(class='card-header')
            span #{item.snippet.title}
            button(type='button' class='close' aria-label='Close' data-toggle='modal' data-target='#ModalCenter' data-id=item.id data-title=item.snippet.title)
              span(aria-hidden='true') &times;
          
          div(class='card-body')
            a(href=path + '?index=' + index)
              div(class='live-preview')
                img(class='live-img' src=item.snippet.thumbnails.medium.url)
                //- img(class='live-play' src='/images/live/youtube.png')
    
      - index++

  div#ModalCenter(class='modal fade' tabindex='-1' role='dialog' aria-labelledby='ModalCenterTitle' aria-hidden='true')
    div(class='modal-dialog modal-dialog-centered' role='document')
      div(class='modal-content')
        div(class='modal-header')
          h5#ModalTitle(class='modal-title') 提示訊息
          button(type='button' class='close' data-dismiss='modal' aria-label='Close')
            span(aria-hidden='true') &times;
        
        div(class='modal-body')
          span 是否確定刪除此影片?
        
        div(class='modal-footer')
          button(type='button' class='btn btn-secondary' data-dismiss='modal') 取消
          button(type='button' class='btn btn-danger') 刪除
      
  
  include ../layout/paginationSimple

  script.
    $('#ModalCenter').on('show.bs.modal', function(e) {
      var button = $(e.relatedTarget);
      var videoId = button.data('id');
      var videoTitle = button.data('title');
      var content = '確定是否刪除「' + videoTitle + '」這部影片?';
      var modal = $(this);
      modal.find('.modal-body').text(content);
      modal.find('.modal-footer').find('.btn-danger').on('click', function(e) {
        console.log(videoId);
        $('#ModalCenter').modal('hide');
      });
    });
  

